html,
body {
    height: 100%;
background-color: darkgray
}

ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 20px 0 20px;
}

nav {
    background-color: darkseagreen;
    font-size: 25px;
}

.formMenu{
    background: antiquewhite;
    border-radius: 20%;
    text-align: center;
    line-height: 30px;
    overflow: auto;
    margin: auto;
    max-width: 300px;
    padding-bottom: 100px;
}

.navigation img {
    border-radius: 30%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: auto;
    max-width: 85%;
    max-height: 100%;
    background: azure;
}

.main {
    flex: 1 1 auto;
}

footer {
    text-align: center;

    background-color: cornsilk;
}